@import "./block/var.css";
@import "./block/header.css";
@import "./block/game.css";
@import "./block/rest.css";
@import "./block/style.css";
@import "./block/hall.css";
@import "./block/room.css";
@import "./block/prefix.css";
@import "./block/table.css";
@import "./block/add.css";
@import "block/date.css";
@import "./block/questions.css";
@import "./block/forms.css";
@import "./block/review.css";
@import "./block/about.css";
@import "./block/contact.css";
@import "./block/social.css";
@import "./block/footer.css";
@import "./block/copyright.css";
