
.about {
  padding-bottom: 50px;
  padding-top: 50px;
}

.container-bg {
  background: url("../img/photos.png") no-repeat;
  min-height: 596px;
  min-width: 600px;
}

.about__description {
  max-width: 500px;

}
.about__title {
  margin-bottom: 50px;
}

.about__flex {
  display: flex;
  gap: 80px;
}

.about__text-wrap {
  padding: 5px;
}

.about__text {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 28px;
  text-align: start;
}

.about__text:last-child {
  margin-bottom: 0;
}

.blockquote {
  position: relative;
  margin: 0;
}

.blockquote__text {
  font-weight: 500;
  font-size: 44px;
  line-height: 50px;
  padding: 50px 50px;
}

.blockquote__author-cite, .blockquote__author-em {
  font-style: normal;
}

.blockquote__strong {
  font-weight: 500;
}

.blockquote__wrap {
  padding-left: 150px;
}

.blockquote__text:after {
  content: '';
  display: block;
  position: absolute;
  width: 22px;
  height: 50px;
  top: 50px;
  right: 460px;
  background: url("../img/cov.svg") no-repeat;
}

.blockquote__text:before {
  content: '';
  display: block;
  position: absolute;
  width: 22px;
  height: 50px;
  top: 173px;
  right: 85px;
  background: url("../img/cov.svg") no-repeat;
  transform: rotate(180deg);
}

.blockquote__author {
  background: url("../img/man.png") left no-repeat;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: none;
  width: 385px;
  padding-left: 100px;
}


