.contact {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-FFFFFF);
  list-style-type: none;
  padding: 0;
}

.contact__item {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.contact__item-location {
  background-image: url("../img/location.svg");
  background-position: left;
}

.contact__item-phone {
  background-image: url("../img/phone.svg");
}

.contact__item-email {
  background-image: url("../img/mail.svg");
}

.contact__street {
  margin-top: 58px;
  margin-bottom: 38px;
}

.contact__phone, .contact__email {
  max-width: 380px;
  text-decoration: none;
  color: var(--color-FFFFFF);
  outline: 1px solid transparent;
  transition: color 0.3s linear, outline-color 0.3s linear;
}

.contact__phone:hover{
  color: var(--color-EADEED);
}

.contact__phone:active{
  color: var(--color-CD06FF)
}

.contact__phone:focus{
  outline-color: var(--color-CD06FF)
}

.contact__email {
  text-decoration: none;
  color: var(--color-FFFFFF)
}

.contact__email:hover{
  color: var(--color-EADEED)
}

.contact__email:active{
  color: var(--color-CD06FF);
}

.contact__email:focus{
  outline-color: var(--color-CD06FF);
}

.container-img {
  position: relative;
  margin-bottom: 200px;
}

.contact__map {
  display: block;
  position: absolute;
  bottom: -40px;
  right: 0;
  transition: transform 0.25s linear;
}

.contact__map:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width:1024px) {
  .contact__item {
    margin-bottom: 7px;
  }

  .contact__item_location {
    margin-bottom: 40px;
  }

  .contact__map {
    width: 600px;
    padding: 10px;
  }

}

@media (max-width: 768px) {

  .contact {
    height: 400px;
  }

  .container-img {
    margin-bottom: 75px;
  }

  .contact__item {
    padding-left: 0;
    align-items: center;
    position: relative;
    text-align: center;
    margin-bottom: 27px;
  }

  .contact__text {
    position: relative;
    display: block;
  }

  .contact__text::after {
    background: url("../img/location.svg")no-repeat;
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    top: 0;
    left: 5px;
    position: absolute;
    
  }

  .contact__phone {
    padding: 0 0 0 40px;
    background: url("../img/phone.svg")no-repeat left;
  }

  .contact__email {
    padding: 0 0 0 40px;
    background: url("../img/mail.svg")no-repeat left;
  }
  
  .contact__map {
    position: static;
    width: 688px;
    min-height: 337px;
  }

  .contact__map:hover {
    transform: none;
  }

  .contact__item-location {
    background-image: none;
  }
  
  .contact__item-phone {
    background-image: none;
  }
  
  .contact__item-email {
    background-image: none;
  }

}

@media (max-width: 520px) {


  .contact__text {
    font-size: 14px;
    line-height: 18px;
    padding: 10px 40px 0 40px;
  }

  .contact__phone {
    padding: 10px 25px 0 40px;
    font-size: 14px;
    line-height: 18px;
  }

  .contact__email {
    font-size: 14px;
    line-height: 18px;
    padding: 0px 0 0 25px;
  }

  .contact__item {
    margin-bottom: 10px;
  }

  .contact__map {
    position: static;
    min-width: 280px;
    min-height: 194px;
  }

  .contact__text::after {
    background: url("../img/location-520.svg")no-repeat;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    top: 6px;
    left: 43px;
  }

  .contact__phone {
    background: url("../img/phone-520.svg")no-repeat;
    padding: 0px 24px 0 25px;
  }

  .contact__email {
    background: url("../img/email-520svg.svg")no-repeat;
  }

  .container-img {
    margin-bottom: 63px;
  }
}



