.date {
  padding: 0;
  border: none;
  margin: 0 auto;
}

.date__legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.date__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(134px, 60px)) repeat(2, 1fr) ;
  grid-template-rows: repeat(1, minmax(60px, 300)) repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 50px;
}


.date__text1 {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: flex-end;
  position: relative;
}

.date__text2 {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-end;
  position: relative;
}

.date__text3 {
  grid-column: 1/3;
  grid-row: 2/3;
  align-self: flex-end;
  position: relative;
}

.date__text4 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.date__text5 {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: flex-start;
}

.date__text6 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.date__text7 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.date__grid-btn {
  grid-column: 4/5;
  grid-row: 3/4;
}

.date__text {
  position: relative;
}

.date__label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.date__input {
  display: block;
  width: 134px;
  min-height: 52px;
  padding: 12px 0 12px 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-align: left;
  color: #212529;
  background-color: var(--color-FFFFFF);
  background-clip: padding-box;
  outline: 2px solid transparent;
  transition: outline 0.5s linear;
}

.date__arrow {
  position: absolute;
  background: url("../img/arrow.svg") no-repeat;
  width: 21px;
  height: 17px;
  left: 90px;
  top: 20px;
}

.date__arrow-time {
  position: absolute;
  background: url("../img/arrow.svg") no-repeat;
  width: 21px;
  height: 17px;
  left: 90px;
  top: 20px;
}

.date__arrow-human {
  position: absolute;
  background: url("../img/arrow.svg") no-repeat;
  width: 21px;
  height: 17px;
  left: 276px;
  top: 20px;
}

.date__input-human {
  width: 320px;
}

.date__input:focus {
  outline: 2px solid var(--color-CD06FF);
}

.date__input-placeholder::placeholder{
  color: var(--color-1C1A1A);
}


.date__input-human {
  width: 320px;
}

.date__input-name {
  width: 280px;
}

.date__input-firstname {
  width: 280px;
}

.date__input-email {
  width: 280px;
}

.date__btn {
  background-color: var(--color-FFFFFF);
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
  border: 2px solid transparent;
  padding: 16px 30px;
  transition: background-color 0.3s linear, border 0.3s ease;
  width: 280px;
}

.date__btn:hover {
  background-color: var(--color-EADEED);
  border: 2px solid var(--color-6C0287);
  color: var(--color-6C0287);
}

.date__btn:focus {
  background-color: #ffffff;
  border: 2px solid var(--color-6C0287);
  color: var(--color-6C0287);
}

.date__btn:active {
  background-color: var(--color-EADEED);
  border: 2px solid var(--color-EADEED);
}

@media (max-width: 1024px) {

    .date__legend {
        margin-bottom: 26px;
    }

    .date__input {
      font-size: 18px;
      line-height: 28px;
    }

    .date__input-name, .date__input-email, .date__input-firstname {
      width: 254px;
      
    }

    .date__btn {
      font-size: 18px;
      line-height: 24px;
      padding: 13px 45px;
      width: 260px;
    }
    
}

@media (max-width: 768px) {

      .date__legend {
        font-size: 24px;
        line-height: 28px;
      }

      .date__grid {
        grid-template-columns: repeat(2, minmax(50px, 134px)) repeat(1, 300px) ;
        grid-template-rows: repeat(4, 1fr);
        gap: 50px 30px;
      }

      .date__text2 {
        align-self: flex-end;
      }

      .date__text3 {
        grid-column: 3/4;
        grid-row: 1/2;
        align-self: flex-end;
      }
      
      .date__text4 {
        grid-column: 1/3;
        grid-row: 2/3;
      }
      
      .date__text5 {
        grid-column: 1/3;
        grid-row: 3/4;
        align-self: flex-start;
      }
      
      .date__text6 {
        grid-column: 3/4;
        grid-row: 2/3;
      }
      
      .date__text7 {
        grid-column: 3/4;
        grid-row: 3/4;
      }
      
      .date__grid-btn {
        grid-column: 3/4;
        grid-row: 4/5;
      }

      .date__input-name, .date__input-email, .date__input-firstname {
        width: 300px;
      }

      .date__input-human {
        width: 300px;
      }

      .date__btn {
        width: 300px;
      }

    }

    @media (max-width: 560px) {

      .date__grid {
        grid-template-columns: repeat(2, minmax(50px, 134px));
        grid-template-rows: repeat(7, 1fr);
        row-gap: 12px;
      }

        .date__legend {
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 25px;
        }

        .date__text1 {
          grid-column: 1/2;
          grid-row: 1/2;
        }

        .date__text2 {
          align-self: flex-end;
          grid-column: 2/3;
          grid-row: 1/2
        }
  
        .date__text3 {
          grid-column: 1/3;
          grid-row: 2/3;
          align-self: flex-end;
          margin-bottom: 25px;
        }
        
        .date__text4 {
          grid-column: 1/3;
          grid-row: 3/4;
          margin-bottom: 25px;
        }
        
        .date__text5 {
          grid-column: 1/3;
          grid-row: 4/5;
          align-self: flex-start;
          margin-bottom: 25px;
        }
        
        .date__text6 {
          grid-column: 1/3;
          grid-row: 5/6;
          margin-bottom: 25px;
        }
        
        .date__text7 {
          grid-column: 1/3;
          grid-row: 6/7;
          margin-bottom: 25px;
        }
        
        .date__grid-btn {
          grid-column: 1/3;
          grid-row: 7/8;
          margin-bottom: 25px;
        }

        .date__arrow-human {
          left: 256px;
        }
    }



