.footer {
  padding-bottom: 30px;
  padding-top: 50px;
  background: linear-gradient(#1B1A1B, #370A37);
}

.footer__title {
  margin-bottom: 54px;
}

@media (max-width: 1024px) {

  .footer__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }
}

@media (max-width: 768px) {

    .footer__flex {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(1, 200px) repeat(1, 60px) repeat(1, 1fr);
    }

    .footer__title {
      font-size: 24px;
      line-height: 36px;
      text-align: center;
    }
}
