.game {
  position: relative;
  padding-top: 29px;
  padding-bottom: 200px;
}

.game__content {
  position: relative;
}

.game:before {
  content: "";
  background: url("../img/vr.png") no-repeat;
  position: absolute;
  display: block;
  width: 675px;
  height: 762px;
  top: 90px;
  right: 261px;
  z-index: 0;
}

.game__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.1em;
  text-transform: uppercase;
  z-index: 1;
}

.game__text {
  font-size: 28px;
  line-height: 50px;
  margin-left: 100px;
  margin-bottom: 30px;
}

.game__flex {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 150px;
}

.game__four, .game__new {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game__four {
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  max-width: 193px;
  color: #CD06FF;
}

.game__new {
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  text-transform: uppercase;
  max-width: 193px;
  color: #CD06FF;
  padding-top: 33px;
  justify-content: flex-end;
}

.game__text-hall, .game__text-new {
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  color: #ffffff;
}

.game__btn {
  background: #6C0287;
  border-radius: 10px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 25px 69px;
  border: 2px solid #6C0287;
  transition: background-color 0.3s linear, border 0.3s ease;
}

.game__btn:hover, .game__btn:focus {
  background-color: #840AA3;
  border: 2px solid #840AA3;
}

.game__btn:active {
  background-color: #640AA3;
  border: 2px solid #640AA3;
}

.game__icon {
  position: relative;
  display: flex;
  justify-content: center;
}

.game__link {
  content: "";
  width: 97px;
  height: 97px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.game__link-after {
  padding: 32px;
  position: absolute;
  top: 10px;
}

.game__link-after:after {
  content: '';
  display: block;
  border: 1px solid #ffffff;
  position: absolute;
  width: 20px;
  left: 30px;
  bottom: 20px;
  transform: rotate(135deg);
}

.game__link-after:before {
  content: '';
  display: block;
  border: 1px solid #ffffff;
  width: 20px;
  position: absolute;
  left: 16px;
  bottom: 20px;
  transform: rotate(45deg);
}


.game__link-after:hover:before, .game__link-after:hover:after {
  border: 1px solid #6C0287;
}

.game__link:hover {
  background: #ffffff;
}
















