.hall {
  padding-top: 50px;
  padding-bottom: 50px;
}

.subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.hall__title {
  margin-bottom: 60px;
}

.hall__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hall__item {
  flex-basis: 580px;
  min-height: 349px;
  text-align: center;
}

.hall__item_img1 {
  background: url("../img/80s_vibes.png") center no-repeat;
}

.hall__item_img2{
  background: url("../img/start-wars.png") center no-repeat;
}

.hall__item_img3 {
  background: url("../img/wild-west.png") center no-repeat;
}

.hall__item_img4 {
  background: url("../img/neon.png") center no-repeat;
}

.hall__desc {
  display: inline-flex;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
  padding-top: 150px;
}














