.hall {
  padding-top: 50px;
  padding-bottom: 50px;
}

.subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.hall__title {
  margin-bottom: 60px;
}

.hall__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.hall__item {
  height: 349px;
  width: 570px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
}


.hall__item:nth-child(1) {
  background: url("../img/80s_vibes.png") center no-repeat;
}

.hall__item:nth-child(2) {
  background: url("../img/start-wars.png") center no-repeat;
}

.hall__item:nth-child(3) {
  background: url("../img/wild-west.png") center no-repeat;
}

.hall__item:nth-child(4) {
  background: url("../img/neon.png") center no-repeat;
}

.hall__desc {
  max-width: 250px;
  text-align: center;
}

@media (max-width: 1220px) {

    .hall {
      padding-top: 10px;
    }

    .hall__item {
      width: 443px;
      height: 267px;
    }

    .hall__list {
      padding: 0;
    }

    .hall__desc {
      font-size: 50px;
      line-height: 60px;
    }

    .hall__title {
      margin-bottom: 36px;
      font-size: 30px;
      line-height: 40px;
    }
}

@media (max-width: 970px) {

      .hall__title {
        font-size: 24px;
        line-height: 36px;  
      }


      .hall__item {
        width: 335px;
        height: 200px;
      }

      .hall__desc {
        font-size: 40px;
        line-height: 50px;
      }

      .hall__desc-768 {
        width: 121px;
      }
}

@media (max-width: 560px) {

    .hall__title {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 15px;
    }

    .hall__desc {
      font-size: 26px;
      line-height: 34px;
    }
}













