.prefix__legend-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.prefix-fieldset {
  border: none;
  padding: 0;
  margin-bottom: 60px;
}

.prefix {
  border: none;
  padding: 0;
}

.prefix__legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

.prefix__flex {
  display: flex;
  flex-direction: column;
}

.prefix__label {
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
}

.prefix__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.prefix__span:before {
  content: '';
  position: absolute;
  display: block;
  top: 13px;
  left: 0;
  width: 27px;
  height: 27px;
  border: 1px solid var(--color-CDD1DA);
  border-radius: 50%;
  background: var(--color-FFFFFF);
}

.prefix__span:after {
  content: '';
  position: absolute;
  display: block;
  top: 18px;
  left: 6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--color-440F51);
  opacity: 0;
  transition: .2s;
}

.prefix__input:checked + .prefix__span:after {
  opacity: 1;
}

.prefix__span:focus:before {
  outline: 1px solid var(--color-FFFFFF);
}


@media (max-width: 1024px) {

  .prefix__legend {
    margin-bottom: 26px;
  }

  .prefix__legend-play {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

}

@media (max-width: 768px) {

    .prefix__legend {
      margin-bottom: 30px;
      
    }

    .prefix__legend-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr) minmax(180px, 170px);
      column-gap: 50px;
      row-gap: 30px;
    }

    .prefix__label {
      padding: 10px 0 0 55px;
    }

    .prefix__span:before {
      top: 13px;
      left: 0;
      width: 40px;
      height: 40px;
    }
    
    .prefix__span:after {
      top: 23px;
      left: 10px;
      width: 20px;
      height: 20px;
    }

}

@media (max-width: 560px) {

    .prefix-fieldset {
      margin-bottom: 30px;
    }

    .prefix__legend-grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr) repeat(1 minmax(100px, 150px));
      row-gap: 10px;
    }

    .prefix__flex {
      font-size: 16px;
      line-height: 18px;
    }

    .prefix__legend {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      margin: 0;
      padding: 0 20px 0 20px;
      margin-bottom: 20px;
    }

    .prefix__legend-play {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 15px;
    }

    .prefix__label {
      margin-bottom: 30px;
    }

    .prefix__span::before {
      top: 0px;
    }

    .prefix__span::after {
      top: 10px;
      left: 10px;
      width: 20px;
      height: 20px;
    }
}




