.review {
  padding-bottom: 50px;
  padding-top: 50px;
}

.review__title {
  margin-bottom: 40px;
}

.customers {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.customers__figcaption {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 280px;
  text-align: center;
}

.customers__img {
  display: block;
  margin-bottom: 5px;
}

.customers__decs {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 70px 140px 20px 20px;
}
