.review {
  padding-bottom: 50px;
  padding-top: 50px;
}

.review__title {
  margin-bottom: 40px;
}

.customers {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.customers__figcaption {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 280px;
  text-align: center;
}

.customers__img {
  display: block;
  margin-bottom: 5px;
}

.customers__block-img {
  position: relative;
  margin-bottom: 12px;
  border-radius: 50%;
  min-width: 280px;
  min-height: 280px;
  overflow: hidden;
}

.customers__block-img:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.customers__decs {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 70px 140px 20px 20px;
}
