.room {
  border: none;
  margin-bottom: 60px;
  padding: 0;
}

.room__legend {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.room__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room__input {
  display: none;
}

.room__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 55px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  border: 2px solid transparent;
  color: var(--color-000000);
  cursor: pointer;
  user-select: none;
  background-color: var(--color-FFFFFF);
  border-radius: 8px;
  transition: background-color 0.25s linear, border 0.25s linear, color 0.20s linear;
}

.room__label:hover {
  background-color: var(--color-EADEED);
  border: 2px solid var(--color-640AA3);
}

.room__label:focus {
  background-color: var(--color-FFFFFF);
  border: 2px solid var(--color-640AA3);
}

.room__label:active {
  background-color: var(--color-6C0287);
  border: 2px solid var(--color-FFFFFF);
  color: var(--color-FFFFFF);
}

.room__radio-label input[type=radio]:checked + label {
  background: var(--cilor-C880DA);
  transition: 0.5s ;
}

.room__radio-label {
  display: inline-block;
}




