.social {
  list-style-type: none;
  display: flex;
  gap: 26px;
  margin: 0;
  padding: 0;
}

.social__item {
  display: block;
  width: 50px;
  height: 50px;
}

.social__link {
  display: block;
  width: 50px;
  height: 50px;
  color: var(--color-FFFFFF);
  outline: 1px solid transparent;
  transition: color 0.3s linear, outline-color 0.3s linear;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link:hover {
  color: var(--color-EADEED);
}

.social__link:active {
  color: var(--color-CD06FF);
}

.social__link:focus {
  outline-color: var(--color-CD06FF);
}
