.table {
  border: none;
  padding: 0;
}

.table__legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 28px;
}

.table__flex {
  display: flex;
  flex-direction: column;
}

.table__label {
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
}

.table__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.table__span:before {
  content: '';
  position: absolute;
  top: 13px;
  left: 0;
  width: 25px;
  height: 25px;
  border: 1px solid var(--color-CDD1DA);
  background: var(--color-FFFFFF);
}

.table__span:after {
  content: '';
  position: absolute;
  top: 17px;
  left: 5px;
  width: 16px;
  height: 16px;
  background: #440F51;
  opacity: 0;
  transition: .2s;
}

.table__input:checked + .table__span:after {
  opacity: 1;
}

.table__span:focus:before {
  border: 1px solid var(--color-CD06FF);
}
