:root {
  --color-000000: #000000;
  --color-1B1A1B: #1B1A1B;
  --color-1C1A1A: #1C1A1A;
  --color-FFFFFF: #FFFFFF;
  --color-CDD1DA: #CDD1DA;
  --color-EADEED: #EADEED;
  --cilor-C880DA: #C880DA;
  --color-CD06FF: #CD06FF;
  --color-840AA3: #840AA3;
  --color-640AA3: #640AA3;
  --color-6C0287: #6C0287;
  --color-440F51: #440F51;
}
